
/* 1. General
--------------------------------------------*/

*, body { font-family: "Microsoft YaHei", 'Helvetica Neue', Helvetica, Arial, sans-serif }
body { margin-bottom: 30px; }
h1 {
	font-weight: 300;
	font-size: 36px;
	line-height: normal;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

.green { color: #3C3; }
.gray { color: #999; }

.form-horizontal .control-label { padding-top: 0; }
.form-horizontal.templatemo-payment-form .radio.templatemo-no-padding-top {	padding-top: 0; }
.control-wrapper {
	position: relative;
	padding-left: 30px;
}
.control-wrapper label.fa-label {
	position: absolute;
	left: 4px;
	top: 6px;
}
.form-group:last-child { margin-bottom: 0; }
.form-horizontal .control-label { margin-bottom: 10px; }
.table { margin-bottom: 0; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}
.templatemo-form-list-container { max-width: 600px; }
.templatemo-input-icon-container { position: relative; }
.templatemo-input-icon-container .fa {
	color: gray;
	position: absolute;
	left: 10px;
	top: 10px;
}
.templatemo-input-icon-container input,
.templatemo-input-icon-container textarea {
	padding-left: 30px;
}
.templatemo-container {
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #dedede;
	border-radius: 8px;
	margin: 0 auto;
	padding: 30px;
}
.templatemo-bg-gray { background-color: #eee; }
.templatemo-bg-gray h1 { color: rgb(74, 164, 180); }
.templatemo-bg-image-1, .templatemo-bg-image-2 {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.templatemo-bg-image-1, .templatemo-bg-image-2 { background-size: cover; }
.font-size-small { font-size: 0.8em; }
.margin-bottom-15 {	margin-bottom: 15px; }
.margin-bottom-30 {	margin-bottom: 30px; }
.form-group { margin-bottom: 20px; }
.form-group a {	line-height: 34px; }
.fa { font-size: 16px; }
.fa.login-with {
	font-size: 30px;
	margin: 0 5px;
}
.fa-medium { font-size: 20px; }
.inline-block { display: inline-block; }


/*-------------------------------------
2. login-form-1
---------------------------------------*/
.templatemo-login-form-1 { max-width: 500px; }
.templatemo-login-form-1 a { color: gray; }
.templatemo-login-form-1 a:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.templatemo-create-new {
	color: #58B4BB;
	font-size: 18px;
	font-weight: 300;
}
.templatemo-create-new:hover {
	color: #138892;
	text-decoration: none;
}

/*-------------------------------------
3. login-form-2
---------------------------------------*/
.templatemo-login-form-2 {
	background-color: rgba(13,13,13,0.25);
	border-radius: 8px;
	color: #fff;
	font-weight: 300;
	max-width: 650px;
	padding: 0 30px 30px 30px;
	margin: 30px auto 0 auto;
}
.templatemo-login-form-2 h1 { color: #fff; margin-bottom: 40px; }
.templatemo-login-form-2 a { color: #DBDBDB; }
.templatemo-login-form-2 .form-control {
	background-color: rgba(83, 78, 78, 0.35);
	border: 1px solid rgba(255, 255, 255, 0.27);
	color: rgb(255,255,255);
}
.templatemo-login-form-2 .templatemo-input-icon-container .fa {	color: rgb(190, 190, 190); }
.templatemo-login-form-2 .control-label { margin-bottom: 10px; }
.templatemo-login-form-2 .btn {	width: 100%; }
.templatemo-login-form-2 .btn-social { max-width: 220px; }
.templatemo-login-form-2 label { font-weight: 400; }
.templatemo-login-form-2 .templatemo-one-signin { border-right: 1px solid rgba(200, 200, 200, 0.5); }


/*-------------------------------------
4. inline-login
--------------------------------------*/
.templatemo-header {
	background-color: #0B8290;
	color: white;
	min-height: 90px;
}
.templatemo-header .checkbox {
	display: block;
	margin-top: 5px;
}
.templatemo-header form { margin-top: 25px; }
.templatemo-header .form-inline .form-group { vertical-align: top; }

.logo { margin: 18px; }


/*-------------------------------------
5. create-account
---------------------------------------*/
.templatemo-create-account {
	background-color: #fff;
	border: none;
	max-width: 700px;
}
.templatemo-create-account label { font-weight: 400; }
.templatemo-create-account input[type='checkbox'] {
	margin-right: 10px;
	position: relative;
	top: -1.5px;
}
