<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="mongoCon" value="mongodb://sedbo:SfNLP1225@43.240.138.232:20000/admin" />
    <add key="mongoDB" value="wecodata" />
    <!--<add key="mongoCon" value="mongodb://vipMa:vip2017@101.200.43.118:2017/admin" />
    <add key="mongoDB" value="vipManage" />-->
    <add key="GSDataAPI_APP_ID" value="JVEvKn7ghegw984neooX" />
    <add key="GSDataAPI_APP_KEY" value="n0TWOaX9gta1dpfVF07hpkKr2" />
    <add key="GSDataAPI_BaseURL" value="http://open.gsdata.cn/api/wx/" />
    <add key="ems_usr_acc" value="kdi1994@163.com" />
    <add key="ems_usr_pwd" value="BhLaGakdi1994" />
    <add key="ems_smtp" value="smtp.163.com" />
    <add key="ems_smtp_port" value="25" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>